@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

$primary-color: #D0A144;
$secondary-color-1: #FDB602;
$secondary-color-2: #784F33;
$secondary-hover-color-2: #5f3e27;
$secondary-color-3: #DBB468;
$secondary-color-4: #295C7A;
$background-gradient-1: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
$text-color: #252B42;
$second-text-color: #737373;
$light-text-color: #FFFFFF;
$dark-background-color: #252B42;
$light-background-color: #FFFFFF;
$hover-color: #2A7CC7;
$disabled-element-color: #8EC2F2;
$muted-color: #BDBDBD;
$success-color: #2DC071;
$alert-color: #E77C40;
$danger-color: #E74040;


//shadow effect

$shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
$dramatic: -31px -22px 19px rgba(0, 0, 0, 0.3);
$light-dropshadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
$text-shadow: 0px 13px 19px rgba(0, 0, 0, 0.24);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

@mixin fontTemplate($fontFamliy,
  $fontWeigth,
  $fontSize,
  $lineHeight,
  $letterSpacing ) {
  font-family: $fontFamliy;
  font-style: normal;
  font-weight: $fontWeigth;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

h1 {
  @include fontTemplate("Martel", 900, 58px, 65px, 0.2px);
}

h2 {
  @include fontTemplate("Martel", 700, 40px, 50px, 0.2px);
}

h3 {
  @include fontTemplate("Martel", 700, 24px, 32px, 0.1px);
}

h4 {
  @include fontTemplate("Montserrat", 500, 20px, 30px, 0.2px);
}

h5 {
  @include fontTemplate("Martel", 700, 16px, 24px, 0.1px);
}

h6 {
  @include fontTemplate("Martel", 700, 14px, 24px, 0.2px);
}

p {
  @include fontTemplate("Open Sans", 400, 14px, 20px, 0.2px);
}

.btn-text {
  @include fontTemplate("Open Sans", 700, 14px, 28px, 0.2px);
}

.mobile-menu {
  @include fontTemplate("Open Sans", 400, 30px, 45px, 0.2px);
}


.list {
  @include fontTemplate("Open Sans", 400, 20px, 30px, 0.2px);
}

.link {
  @include fontTemplate("Open Sans", 600, 14px, 24px, 0.2px);
  text-decoration: none;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.4s ease-in;
  @include fontTemplate("Open Sans", 700, 14px, 28px, 0.2px);
}

.btn-secondary {
  background-color: $secondary-color-2;
  border: 1px solid $secondary-color-2;
  color: $light-text-color;
  border-radius: 5px;

  &:hover {
    background-color: transparent;
    color: $secondary-color-2;
  }
}


.btn-outline-secondary {
  background-color: transparent;
  border: 1px solid $secondary-color-2;
  color: $secondary-color-2;

  &:hover {
    background-color: $secondary-color-2;
    color: $light-text-color;
  }
}


.btn-round {
  padding: 10px 36px;
  border-radius: 37px;
}


.header {
  background-image: url(../assets/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;

  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 35px 0 35px 50px;

    .brend {
      color: $text-color;
    }

    .navbar {
      display: flex;
      align-items: center;
      gap: 140px;

      &__collapse {
        display: flex;
        gap: 40px;
      }

      &__list {
        display: flex;
        align-items: center;
        gap: 25px;

        list-style: none;
      }

      &__link {
        color: $second-text-color;
      }

      .btn-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      &__icon {
        width: 16px;
        height: 16px;
      }

      &__btn {
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }

  .intro {
    display: flex;
    align-items: center;

    >div {
      display: flex;
      flex-direction: column;
      gap: 35px;
    }

    .title {
      color: $text-color;
    }

    .subtitle {
      width: 376px;
      color: $second-text-color
    }

    .btn-wrapper {
      display: flex;
      gap: 10px;
    }
  }
}


.features-practice {
  background-color: $light-background-color;
  padding: 100px 0;
  text-align: center;

  &__title {
    color: $text-color;
    margin-bottom: 10px;
  }

  &__subtitle {
    color: $second-text-color;
  }

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;

    margin-top: 80px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    gap: 10px;

    width: 325px;
    height: 147px;

    box-shadow: $shadow;
    border-radius: 5px;
    color: $text-color;
    background: #F9F9F9;

    >img {
      width: 53px;
      height: 53px;
    }
  }

  .card--blue {
    background-color: $secondary-color-4;
    color: white;
  }
}

.features-advice {
  background-color: #FAFAFA;
  padding: 125px 0 110px 0;
  text-align: center;

  &__title {
    color: $text-color;
    margin-bottom: 10px;
  }

  &__subtitle {
    color: $second-text-color;
  }

  .card-wrapper {
    display: flex;

    justify-content: space-between;
    gap: 35px;
    margin-top: 45px;

  }

  &__card {

    display: flex;
    flex-direction: column;

    text-align: start;
    background-color: $light-background-color;

    width: 230px;

    >div {
      padding: 30px;
      flex-grow: 1;

      .card__title {
        color: $text-color;
        margin-bottom: 15px;
      }

      .card__subtitle {
        color: $second-text-color;
      }
    }

    img {
      height: 138px;
      width: 230px;
    }
  }

}

.about {
  text-align: center;
  padding: 100px 0 143px 0;

  &__title {
    color: $text-color;
    margin-bottom: 15px;
  }

  &__subtitle {
    margin: 0 auto;
    width: 468px;
    color: $second-text-color;
  }

  .about__content {
    margin-top: 100px;
    display: flex;
    gap: 120px;
    text-align: left;
  }

  .video-wrapper {
    position: relative;

    .back-drop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);

      display: flex;
      justify-content: center;
      align-items: center;

      .btn-play {

        width: 97px;
        height: 95px;

        display: flex;
        justify-content: center;
        align-items: center;

        background: #295C7A;
        border-radius: 50%;
        padding-left: 5px;
      }
    }

    .media-about {
      width: 600px;
      height: 440px;
      object-fit: cover;
    }
  }

  .video-play {
    position: static;
  }

  .description-wrapper {

    h1,
    h5 {
      color: $text-color;
    }

    p,
    h6 {
      color: $second-text-color;
    }

    p {
      margin-bottom: 50px;
    }

    div+div {
      margin-top: 30px;
    }

    >div {
      display: grid;
      grid-template-columns: 30px 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: "icon title"
        " _ subtitle";
      gap: 5px 21px;

      img {
        grid-area: icon;
      }

      h5 {
        grid-area: title;
      }

      h6 {
        grid-area: subtitle;
      }

    }
  }
}

.clients {
  background-color: #FAFAFA;
  padding-top: 60px;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    list-style: none;
  }

  .subcribe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    max-width: 1050px;
    padding: 30px 50px;
    margin: 70px auto 0 auto;

    border-radius: 2px;
    background: $background-gradient-1;

    h3 {
      color: $light-text-color;
      width: 250px;
    }

    .form {
      display: flex;
      background: #F9F9F9;
      border: 1px solid #E6E6E6;
      height: 58px;
      width: 450px;
      border-radius: 5px;

      input {
        border: none;
        background-color: transparent;
        font-size: 16px;
        margin: 15px 20px;
        font-family: 'Montserrat';
        outline: none;
        flex-grow: 1;
      }

      .btn-submit {
        padding: 15px 22px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        background: $primary-color;
        border-radius: 0px 5px 5px 0px;
        color: $light-text-color;
      }
    }

  }

  .box {
    position: absolute;
    height: 77px;
    background-color: $dark-background-color;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.contact {
  text-align: center;
  padding: 80px 0 155px 0;
  background: #F3F3F3;

  &__title {
    color: $text-color;
    margin-bottom: 10px;
  }

  &__subtitle {
    width: 430px;
    margin: 0 auto 80px auto;
    color: $second-text-color;
  }

  .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    gap: 15px;

    background: #FFFFFF;
  }

  .card--darkblue {
    background: $dark-background-color;
    padding: 80px 40px;
    color: $light-text-color;
  }

  .card-btn {
    color: $primary-color;

    border: 1px solid #D0A144;
    border-radius: 5px;
    padding: 10px 20px;
  }


}


.consultation {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "title btn"
    "subtitle btn";
  justify-content: space-between;
  gap: 10px 0;
  padding: 40px 0;

  &__title {
    color: $text-color;
    grid-area: title;

  }

  &__subtitle {
    color: $second-text-color;
    grid-area: subtitle;
  }

  &__btn {
    grid-area: btn;
    color: $light-text-color;
    padding: 15px 40px;
    border-radius: 5px;
    background-color: $secondary-color-2;
  }
}

.footer__nav {
  background: $background-gradient-1;
  padding: 50px 0;
  color: $light-text-color;

  >div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

  }

  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;

  }

  .nav__list:last-child a {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  li:first-child {
    margin-bottom: 10px;
  }

  .link {
    color: $light-text-color;
  }
}

.copyright{
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  h6{
    color: $second-text-color;
  }
  div{
    display: flex;
    gap: 20px;
  }
}
